*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/note\ taking.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding: 10px;
    position: relative;
    background-position: left;

}

.name{
   margin-top: 5%;
    color:black;
    align-items:center; 
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40%;
   font-size:  20px ;
    background-color: coral;
    border-radius: 40px;
    height: 40px;
   width: fit-content;
   padding: 10px;
   display: flex;

  
}

.To-do-app{
    width: 100%;
    max-width: 540px;
    background: #ffffff87 ;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 40px;
    margin-top: auto;

} 

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1rem;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 150%;
   
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
    border-radius: 40px;
   
    
}

#input-box::placeholder{
    font-size: 20px;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0cd0de;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    cursor: pointer;
    color: black;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #edeef0;
    margin-left: 30px;
    width: 140%;
    
}

ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png);
    display: flex;
    background-size: cover;
    ;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
   
}

ul li span{
    position:absolute;
    right: 1%;
    top: 8px;
    width:fit-content;
    height: 40px;
    font-size: 18px ;
    font-weight: 10px;
    line-height: 40px;
    color: red;
    
}

ul li span:hover{
    cursor: pointer;
}

